<h1><%= @chef.name %></h1>
<br>
<h3>Dishes:</h3>
  <ol>
    <% @chef.dishes.each do |dish| %>
      <li><%= dish.name %></li>
    <% end %>
  </ol>

<br>
<h3>Add Existing Dish to <%= @chef.name %></h3>
<%= form_with url: "/dishes?chef_id=#{@chef.id}", method: :patch, local: true do |form| %>
  <%= form.label :id %>
  <%= form.text_field :id %>
  <%= form.submit "Add Dish" %>
<% end %>